html {
  font-family: system-ui,Avenir,Helvetica,Arial,sans-serif;
}

.section {
  width: 375px;
  margin: 20px auto;
}

.section-label {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 14px;
  color: #555;
}

.buttons {
  min-width: 200px;
  margin: 0 auto;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: border-color .25s;
  line-height: 1.4;
}
button:hover {
  border-color: #646cff;
}
button.active {
  background-color: #ddd;
}

.interval-selector button {
  margin: 0 2px;
  width: 52px;
}

.timer-section {
  width: 100%;
}

#timer {
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  font-size: 40pt;
  font-weight: 700;
  text-align: center;
}

.start-button {
  width: 108px;
  min-height: 30px;
}
.main-button {
  width: 120px;
  min-height: 30px;
}